######################################################################
# config variables 
######################################################################


AzureSubscriptionID = ""
AzureClientID       = ""
AzureClientSecret   = ""
AzureTenantID       = ""


AksClusterId        = ""